<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Jon Stump</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
   </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/about-me" routerLinkActive="active">About Me</a>
        <a class="nav-item nav-link" routerLink="projects">Projects</a>
        <a class="nav-item nav-link" routerLink="/work" routerLinkActive="active">Work History</a>
     </div>
   </div>
 </nav>
