<div id="projects">
  <ng-container *ngFor='let project of projects;'>
    <div id="projects">
      <h1>Title: {{project.title}}</h1>
      <h2>Tools: {{project.tools}}</h2>
      <h3>Location: {{project.hosted}}</h3>
      <h3>Description:</h3>
      <p>{{project.description}}</p>
    </div>
  </ng-container>
</div>
