<div class="flex-container">
  <ng-container  *ngFor='let work of works;'>
    <div>
      <h1>Company: {{work.company_name}}</h1>
      <h2>Title(s): {{work.title}}</h2>
      <h3>Dates: {{work.dates}}</h3>
      <h3>Location: {{work.location}}</h3>
      <h3>Responsibilities:</h3>
      <p>{{work.responsibilities}}</p>
    </div>
  </ng-container>
</div>
